<div class="contCuerpo">
	<div class="cuerpoTop"></div>
	<div class="cuerpo"><strong>System</strong>
		<div class="cuerpolinea"></div>
		<div class="cuerpoizq">
			<ul>
				<li><a href="/infocam/ChangePassword" title="Change Admin Password" class="V1N">Change Admin Password</a></li>
				<li><a href="/infocam/ResetDefaults" title="Reset Defaults" class="V1N">Reset Defaults</a></li>
				<li><a href="/infocam/Upgrade" title="Upgrade" class="V1N">Upgrade</a></li>
			</ul>	
		</div>
		<div class="cuerpoder V1N">
			<p><strong>System Settings:</strong></p>
			<p>Model Name: @@ModelName</p>
			<p>Hardware Version: @@HWVersion</p>
			<p>Firmware Version: @@FWVersion</p>
			<p>Serial Number: @@SerialNumber</p>
			
			<div class="clear"></div>
			
			<p><strong>CS Settings:</strong></p>
			<p>Serial Number: @@CSSerialNumber</p>
			<p>Bundle Key: @@CSBundleKey</p>
			<p>Registration Key: @@CSRegKey</p>
			<p>Status: @@CSStatus</p>
			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="cuerpoBot"></div>
</div>
<div class="margenBottom20"></div>